$light-text: moccasin;

body {
  background: url("./assets/images/futura_background.jpg");
  background-size: cover;
  background-position: center;
  // height: 100vh;
  // color: $light-text;
}

h1 {
  font-size: 68px;
  text-align: center;
}
